#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header {
    text-align: center;
    color: #333;
    font-size: 48px;
    font-weight: bold;
}

#loginContainer {
    text-align: center;
    width: 100%;
}

#loginForm {
    max-width: 300px;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    margin: 0 auto; /* center form */
    text-align: center;
}

#loginBtn {
    margin-top: 15px;
}

.indexcontainer {
    width: 90%;
    max-width: 350px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-field {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.indexbutton {
    width: 50%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.in-btn {
    background-color: #3498db; /* blue */
    color: #fff;
    transition: background-color 0.3s ease;
}

.in-btn:hover {
    background-color: #2980b9; /* dark blue */
}